table{
    border-collapse: separate;
    border-radius: 10px;
    text-align: center;
}

td,th{
    border-style: solid;
    border-width: 2px;

}

td{
    background-color: lavender;
    border-style: groove;
    border-radius: 4px;
}

th{
    background-color: lightcyan;
    border-top-style: groove;
}

#celda_flotante{
    background-color: rgb(255, 215, 215);
}

.amarillo{
    background-color: lemonchiffon;
}-

.negrita{
    font-weight: bold;
}